#page(data-role="page", data-url="#{url}")
    #header(data-role="header")
        a(href="/new/select-type/", data-icon="arrow-l", data-direction="reverse", data-iconpos="notext") Back
        h1 #{subtitle}
        a(href="/", data-icon="home", data-direction="reverse", data-iconpos="notext") Home

        #navbar(data-role="navbar")
            ul
                li
                    a(href="/new/select-source/me", data-transition="none", class="ui-btn-active") Me
                li
                    a(href="/new/select-source/friends", data-transition="none") Friends
                li
                    a(href="/new/select-source/pages", data-transition="none") Pages
                li
                    a(href="/new/select-source/events", data-transition="none") Events
    #content(data-role="content")
        ul(data-role="listview")
            li 
                a(href="/new/select-source/fb/me/feed", rel="external") My News Feed
            li 
                a(href="/new/select-source/fb/me/wall", rel="external") My Wall
    #footer(data-role="footer")
        p &copy; Martin Angers 2011 - Alpha version
