!!! 5
html
    title Test Home
    body
        h1 Welcome to Test Home
        form(method='POST', action='/')
            input(type='radio', name='source', value='fb')
            input(type='radio', name='source', value='tw', checked)
            input(type='submit',value='auth')