#page(data-role="page", data-url="#{url}")
    #header(data-role="header")
        h1 #{subtitle}
    #content(data-role="content")
        p
            | Welcome to FeedBuilder!
        
        a(href="/new/select-type/", data-role="button", data-icon="plus") New Feed
    #footer(data-role="footer")
        p &copy; Martin Angers 2011 - Alpha version
