!!! 5
html
    title Facebook Test
    body
        h1 Welcome to Facebook Test
        p access_token = #{access_token}
        p Facebook wall= 
        
        code #{fb_wall}
        
        form(action='/fb_test', method='POST')
            input(name='fb_url', value='/me/feed')
            input(type='hidden', name='access_token', value='#{access_token}')
            input(type='submit', value='Test 1')
