p
    | Select the source of the feed. In the next steps, you will be able to
    | further refine the criteria based on the source you've selected.
a(href="/connect/fb", data-role="button", rel="external") Create a Facebook Feed
a(href="/connect/tw", data-role="button", rel="external") Create a Twitter Feed
a(href="/connect/ex", data-role="button", rel="external") Edit an Existing Feed
